name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  GOPROXY: https://proxy.golang.org/

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        go:
          - 1.14
          - 1.15
          - 1.16
          - 1.17
          - 1.18
    steps:
      -
        name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # https://github.com/actions/checkout/releases/tag/v3.4.0
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # https://github.com/actions/setup-go/releases/tag/v4.0.0
        with:
          go-version: ${{ matrix.go }}
      -
        name: Go mod download
        run: go mod download -x
      -
        name: Go mod verify
        run: go mod verify
      -
        name: Run tests
        run: go test -v ./...
